<%= I18n.t(
  'mailer.applicant_accepted.body',
  user_name: @user_name,
  job_name: @job_name,
  job_start_date: @job_start_date,
  job_end_date: @job_end_date,
  total_hours: @total_hours,
  hourly_gross_salary: @hourly_gross_salary,
  total_salary: @total_salary,
  address: @job_address,
  confirmation_time_hours: @confirmation_time_hours,
  job_user_url: @job_user_url,
  google_calendar_url: nil
).html_safe %>

<p><%= I18n.t('mailer.signoff') %></p>
