<p><%= I18n.t('mailer.job_cancelled.body', job_name: @job_name) %></p>

<%= render(
  'mailer_partials/action_button',
  url: @jobs_url,
  title: I18n.t('mailer.job_cancelled.find_jobs_cta')
) %>

<p><%= I18n.t('mailer.signoff') %></p>
