<%= simple_format I18n.t(
  'mailer.new_applicant_job_info.body',
  name: @user_name,
  job_name: @job_name
).html_safe %>

<%= simple_format I18n.t(
  'mailer.new_applicant_job_info.body_skill_fillout_notice',
  skill_names: @skill_names.map { |s| content_tag(:em, s) }.to_sentence
).html_safe unless @skill_names.empty? %>

<%= simple_format I18n.t(
  'mailer.new_applicant_job_info.body_edit_profile',
  url: link_to(@user_edit_url, @user_edit_url)
).html_safe %>

<p><%= I18n.t('mailer.signoff') %></p>
