<%= simple_format I18n.t(
  'mailer.new_applicant_job_info.body',
  name: @user_name,
  job_name: @job_name
).html_safe %>

<%= simple_format I18n.t(
  'mailer.new_applicant_job_info.body_skill_fillout_notice',
  skill_names: @skill_names.map { |s| content_tag(:em, s) }.to_sentence
).html_safe unless @skill_names.empty? %>

<%= render(
  'mailer_partials/action_button',
  url: @user_edit_url,
  title: I18n.t('mailer.new_applicant_job_info.body_edit_profile_cta'),
  align: I18nMeta.align(I18n.locale)
) %>

<p><%= I18n.t('mailer.signoff') %></p>
