<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= simple_format I18n.t(
      'mailer.new_applicant_job_info.body',
      name: @user_name,
      job_name: @job_name
    ) %>
    <p><%= I18n.t('mailer.signoff') %></p>
  </body>
</html>
