<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= I18n.t('mailer.changed_password.body_header', name: @user_name) %></p>

    <p><%= I18n.t('mailer.signoff') %></p>
  </body>
</html>
