<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats <%= @owner_name %>!</h1>
    <h3><%= @user_name %>have verified that they've performed a job for you :)</h3>
    <p>The job they performed was: '<%= @job_name %>'.</p>
    <p>If you have any last questions, you can contact them here: <%= @user_email %>.</p>

    <p>Have a great day!</p>
  </body>
</html>
