<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats <%= @user_name %>!</h1>
    <h3>Its been verified that you've performed_accept a job for <%= @owner_name %></h3>
    <p>The job you performed_accept is: '<%= @job_name %>'.</p>
    <p>If you have any last questions to the owner you can contact them here: <%= @owner_email %>.</p>

    <p>Have a great day!</p>
  </body>
</html>
