<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats <%= @user_name %>!</h1>
    <h3>You've got a new job match!</h3>
    <p>The job is: '<%= @job_name %>' and its in your area.</p>
    <p>Contact <%= @owner_email %> for more details.</p>

    <p>Have a great day!</p>
  </body>
</html>
