<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t('mailer.reset_password.body_header', name: @user_name) %></h1>

    <p><a href="<%= @reset_password_url %>"><%= @reset_password_url %></a></p>

    <p><%= I18n.t('mailer.signoff') %></p>
  </body>
</html>
