<h3><%= I18n.t('mailer.reset_password.body_header', name: @user_name) %></h3>

<p><%= link_to(I18n.t('mailer.reset_password.reset_password_url_title'), @reset_password_url) %></p>

<p>
  <em><%= I18n.t('mailer.reset_password.body_end', support_email: mail_to(@support_email)).html_safe %></em>
</p>

<p><%= I18n.t('mailer.signoff') %></p>
