<table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding: 5px;">
  <tr>
    <td height="1" style="border-top:1px solid #9C9FA7; font-size:1px; height:1px; line-height:1px;">&nbsp;</td>
  </tr>
</table>
