<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= I18n.t('admin.mailer.invoice_failed_to_connect_to_frilans_finans.notice', invoice_id: "##{@ff_invoice_id}") %>
    <%= link_to(@ff_invoice_link_name, admin_frilans_finans_invoice_url(@ff_invoice)) %>
  </body>
</html>
