// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';

$skinMainFirstColor: #222531 !default;
$skinMainSecondColor: #d10072 !default;
$skinBorderRadius: 4px !default;
$skinBorderWindowColor: #e0edfa !default;
$skinTablePadding: 10px !default;

@import 'wigu/active_admin_theme';

// Overriding any non-variable SASS must be done after the fact.
.status_tag { background: #0069d2; }

@import 'chosen';
@import 'active_admin_datetimepicker';

// START: ACTIVEADMIN
#site_title_image {
  max-height: 21px;
  margin-top: 11px;
}

.panel > h3 > a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
// START: ACTIVEADMIN

// START: ACTIVEADMIN THEME OVERRIDES
#wrapper .flashes .flash_notice {
  background-color: #0069d2;
  border-bottom-color: #005ebd;
}

#wrapper .flashes .flash_warning,
#wrapper .flashes .flash_alert {
  background-color: #ed6926;
  border-bottom-color: #ed6926;
}

#wrapper .flashes .flash_error {
  background-color: #e03f00;
  border-bottom-color: #e03f00;
}
// END: ACTIVEADMIN THEME OVERRIDES

// CUSTOM STYLES
.user-badge-tag-link {
  background-color: #a9a9a9;
  border-radius: 4px;
  color: #fff !important;
  display: inline-block;
  margin-bottom: 4px;
  margin: 0 2px;
  padding: 5px;
  text-decoration: none !important;

  table & {
    display: inline;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.user-badge-skill-link {
  background-color: #fff;
  border-radius: 4px;
  border: 3px solid #a9a9a9;
  color: #101010 !important;
  display: inline-block;
  margin-bottom: 4px;
  margin: 0 2px;
  padding: 5px;
  text-decoration: none !important;

  table & {
    display: inline;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.sidebar-image {
  max-width: 100%;
}
