// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';

@import 'active_admin_scoped_collection_actions';

$skinMainFirstColor: #222531 !default;
$skinMainSecondColor: #d10072 !default;
$skinBorderRadius: 4px !default;
$skinBorderWindowColor: #e0edfa !default;
$skinTablePadding: 10px !default;

@import 'wigu/active_admin_theme';

@import 'chosen';
@import 'active_admin_datetimepicker';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

// START: ACTIVEADMIN
#site_title_image {
  max-height: 21px;
  margin-top: 11px;
}

.panel > h3 > a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// START: ACTIVEADMIN
.status_tag {
  background: #0069d2;
}

.status_tag.warn,
.status_tag.warning,
.status_tag.orange {
  background: #e2c100;
}
// END: ACTIVEADMIN

// START: ACTIVEADMIN THEME OVERRIDES
#wrapper table.index_table td {
  vertical-align: middle;
}

#wrapper .flashes .flash_notice {
  background-color: #0069d2;
  border-bottom-color: #005ebd;
}

#wrapper .flashes .flash_warning,
#wrapper .flashes .flash_alert {
  background-color: #ed6926;
  border-bottom-color: #ed6926;
}

#wrapper .flashes .flash_error {
  background-color: #e03f00;
  border-bottom-color: #e03f00;
}
// END: ACTIVEADMIN THEME OVERRIDES

// CUSTOM STYLES
.user-badge-tag-link {
  background-color: #a9a9a9;
  border-radius: 4px;
  color: #fff !important;
  display: inline-block;
  margin: 0 2px;
  margin-bottom: 4px;
  padding: 5px;
  text-decoration: none !important;

  table & {
    display: inline;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.user-badge-skill-link {
  background-color: #fff;
  border-radius: 4px;
  border: 3px solid #a9a9a9;
  color: #101010 !important;
  display: inline-block;
  margin: 0 2px;
  margin-bottom: 4px;
  padding: 5px;
  text-decoration: none !important;

  table & {
    display: inline;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.sidebar-image {
  max-width: 100%;
}

.btn-icon {
  max-width: 12px;
  vertical-align: middle;
  margin-right: 5px;
}

// Index styling

.table-column-icon {
  max-width: 12px;
  margin-right: 5px;
}

.col .table-column-icon-link {
  color: #222531;
  text-decoration: none;
}


.CodeMirror.CodeMirror-sided.CodeMirror-fullscreen {
  padding-top: 100px; // Account for ActiveAdmin title-bar
}

// Markdown preview styling
.editor-preview-side.editor-preview-active-side {
  padding-top: 100px; // Account for ActiveAdmin title-bar
}

.CodeMirror.CodeMirror-wrap,
.editor-preview-side.editor-preview-active-side,
.editor-preview.editor-preview-active {
  color: rgba(0, 0, 0, .87);
  background: #fff;
  // Text styling
  h1, h2, h3, h4, h5, .cm-header {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgba(0, 0, 0, .87);
  }
  h3, h4, .cm-header-3, .cm-header-4 { font-weight: 700; }

  h1, .cm-header-1 { font-size: 42px; }
  h2, .cm-header-2 { font-size: 36px; }
  h3, .cm-header-3 { font-size: 24px; }
  h4, .cm-header-4 { font-size: 18px; }
  h5, .cm-header-5 { font-size: 16px; }

  div, ul li, ol li, p, span, .CodeMirror-line {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-shadow: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  p {
    margin-bottom: 16px;
  }

  i, .cm-em, .cm-formatting-em {
    font-style: italic;
  }

  strong, .cm-strong {
    font-weight: 700;
  }

  a, .CodeMirror-line .cm-link {
    color: #45e2ff;
    &:hover {
      color: #ed4da4;
      cursor: pointer;
    }
  }

  hr {
    height: 0;
  }

  ol > li {
    padding: 0 !important;
  }

  // Standard list styling
  ul {
    margin: 16px 0;
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    margin: 16px 0;
    list-style-type: decimal;
    list-style-position: inside;
  }
  ul ul, ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }
  ol ol, ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }


}
